@model Library.Common.ViewModels.ListBooksViewModel;
@using Library.Common.ViewModels;
@using Library.Models;

    <script src="~/js/ListBooksScripts.js" asp-append-version="true"></script>

<br />
@if (Model != null)
{

    <div class="flex">
        @for (int i = 0; i < Model.Books.ToArray().Length; i++)
        {
            BookViewModel book = Model.Books.ToArray()[i];
            <input type="hidden" id="currentBook" />
            <input type="hidden" id="@("id" + i)" value="@book.Id" />
            // Рисуем страницу для вида "Список"
            if (Model.PageView == 1)
            {
                <div class="flex-itm-1 flex-itm">

                    <div class="item">



                        <div class="img-item-1"><a asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id"><img style="border-radius: 5px;" width="100%" src="@((book.CoverBytes != null)? "data: image / jpeg; base64,"+(Convert.ToBase64String(book.CoverBytes)):"https://localhost:44372/img/No_Image.png") " /></a></div>

                        <div class="info-item-1">

                            <h6 class="info-1">

                                <a class="info-1" asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id"> @book.Title</a>

                                @if (!@User.IsInRole("User"))
                                {
                                    <i class="far fa-trash-alt del" id="@("del"+i)" style="float:right; color:black;"></i>
                                    <a asp-action="EditBook" asp-controller="Library" asp-route-bookId="@book.Id"><i class="fa fa-pencil-square-o" style="float:right;color:black;">&ensp;</i></a>
                                }

                            </h6>
                            <p class="info info-1"><b class="info info-1">Автор </b>@book.Author</p>
                            <p class="info info-1"><b class="info info-1">Год </b>@book.YearOfPublication  <b class="info info-1"> &ensp;&ensp;|&ensp;&ensp; Страниц </b>@book.CountPages <b class="info info-1">&ensp;&ensp;|&ensp;&ensp;Язык книги </b>@book.Language</p>
                            <p class="info info-1"><b class="info info-1">В наличии </b>@book.Count</p>
                            <p class="info-list">
                                <b class="info info-1">Категории:</b>
                                @foreach (var category in book.Categories)
                                {
                                    <u> @category</u><b>&ensp;</b>
                                }
                            </p>
                            <p class="info-list" style="margin-bottom:auto">
                                <b class="info info-1">Ключевые слова: </b>&ensp;
                                @foreach (var keyword in book.KeyWordsName)
                                {
                                    <u> @keyword</u><b>&ensp;</b>
                                }
                            </p>
                            <div class="flex">
                                @if (Model.HoldersList.Contains(book.Id))
                                {
                                    <button class="btn btn-return btn-success ReturnBook" id="@i">Отдать</button>

                                }
                                else
                                {

                                    <button id="@i" class="btn btn-take ReceivingBook @((book.Count > 0) ?  "btn-success" : "btn-secondary")" @((book.Count > 0) ? "" : "disabled")>Взять</button>

                                }



                                <a class="btn @((book.URL != null) ? "":"btn-secondary disabled") btn-url" href="@book.URL">Читать онлайн</a>
                            </div>
                            @if (book.Count == 0)
                            {

                                <button id="@i" class="btn notificationCreate btn-notification-1 @((Model.NotificationList.Contains(book.Id)) ? "btn-secondary" :  "btn-success")" @((Model.NotificationList.Contains(book.Id)) ? "disabled" : "")>Уведомить о наличии</button>

                            }
                        </div>
                        <div class="Description-1"><p class="text-Desc">@book.Description</p> <p class="hidden" id="@("more" + i)"><a class="bookCard" asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id">Подробнее</a></p></div>
                    </div>

                </div>
            }
            // Рисуем страницу для вида "Плитка"
            else if (Model.PageView == 4)
            {
                <div class="flex-itm-4 flex-itm" style="@((i % 2 != 0) ? "margin-left:2%;":"") ">



                    <div class="item">


                        <div class="img-item-4"><a asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id"><img style="border-radius: 5px;" width="100%" src="@((book.CoverBytes != null)? "data: image / jpeg; base64,"+(Convert.ToBase64String(book.CoverBytes)):"https://localhost:44372/img/No_Image.png") " /></a></div>

                        <div class="info-item-4">

                            <h6 class="info">
                                <a class="info-4" asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id"> @book.Title</a>
                                @if (!@User.IsInRole("User"))
                                {
                                    <i class="far fa-trash-alt del" id="@("del" + i)" style="float:right; color:black;"></i>
                                    <a asp-action="EditBook" asp-controller="Library" asp-route-bookId="@book.Id"><i class="fa fa-pencil-square-o" style="float:right;color:black;">&ensp;</i></a>
                                }

                            </h6>
                            <p class="info info-4"><b class="info info-4">Автор </b>@book.Author</p>
                            <p class="info info-4"><b class="info info-4">Год </b>@book.YearOfPublication  <b class="info info-4"> &ensp;|&ensp; Страниц </b>@book.CountPages</p>
                            <p class="info info-4"><b class="info info-4">Язык книги </b>@book.Language</p>
                            <p class="info info-4"><b class="info info-4">В наличии </b>@book.Count</p>
                            <p class="info-list">
                                <b class="info info-4">Категории </b>&ensp;
                                @foreach (var category in book.Categories)
                                {
                                    <u> @category</u><b>&ensp;</b>

                                }
                            </p>
                            <p class="info-list" style="margin-bottom:auto">
                                <b class="info info-4">Ключевые слова </b>&ensp;
                                @foreach (var keyword in book.KeyWordsName)
                                {
                                    <u> @keyword</u><b>&ensp;</b>



                                }
                            </p>
                            <br />

                            <div class="flex">
                                @if (Model.HoldersList.Contains(book.Id))
                                {
                                    <button class="btn btn-return btn-success ReturnBook" id="@i">Отдать</button>

                                }
                                else
                                {

                                    <button id="@i" class="btn btn-take ReceivingBook @((book.Count > 0) ?  "btn-success" : "btn-secondary")" @((book.Count > 0) ? "" : "disabled")>Взять</button>

                                }



                                <a class="btn @((book.URL != null) ? "":"btn-secondary disabled") btn-url" href="@book.URL">Читать онлайн</a>
                            </div>
                            @if (book.Count == 0)
                            {

                                <button id="@i" class="btn notificationCreate btn-notification-1 @((Model.NotificationList.Contains(book.Id)) ? "btn-secondary" :  "btn-success")" @((Model.NotificationList.Contains(book.Id)) ? "disabled" : "")>Уведомить о наличии</button>

                            }
                        </div>
                        <div class="Description"><p class="text-Desc">@book.Description</p><p class="hidden" id="@("more"+i)"><a class="bookCard" asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id">Подробнее</a></p></div>
                    </div>

                </div>
            }
            // Рисуем страницу для вида "Расширенная плитка"
            else
            {
                <div class="flex-itm-8 flex-itm">



                    <div class="item">


                        <div class="img-item-8"><a asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id"><img style="border-radius: 5px;" width="100%" src="@((book.CoverBytes != null)? "data: image / jpeg; base64,"+(Convert.ToBase64String(book.CoverBytes)):"https://localhost:44372/img/No_Image.png") " /></a></div>

                        <div class="info-item-8">

                            <p class="info-8"><a class="info-8" asp-action="BookCard" asp-controller="Library" asp-route-bookId="@book.Id">@book.Author - @book.Title</a> </p>

                        </div>
                    </div>

                </div>
            }

        }
    </div>
    <div class="row pagination">
        <div class="col-md-12 text-center">
            @{ Html.RenderPartialAsync("_Pagination", (Pagination)ViewBag.Pagination); }
        </div>
    </div>
}

